<a href="https://colab.research.google.com/github/XinyaoTian/COMP5318_assignment2/blob/master/KmeansClustring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Environment setup
# Import assignment-wide packages
import sklearn
import numpy as np
import os
import pandas as pd
np.random.seed(42)

from random import uniform
import math

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

In [31]:
# Load TripAdviosr dataset from its original source
TA_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00484/tripadvisor_review.csv", sep=',', encoding="utf-8")

# It's obviously that 'User ID' is not meaningful when clustering
# So we delete that column
TA_data = TA_data.drop('User ID', 1)

# Have a brief view
TA_data.head()

   Category 1  Category 2  Category 3  ...  Category 8  Category 9  Category 10
0        0.93         1.8        2.29  ...        2.79        1.82         2.42
1        1.02         2.2        2.66  ...        2.63        1.86         2.32
2        1.22         0.8        0.54  ...        2.80        1.31         2.50
3        0.45         1.8        0.29  ...        2.96        1.57         2.86
4        0.51         1.2        1.18  ...        2.78        1.18         2.54

[5 rows x 10 columns]

In [0]:
class KMeansClustering():

  def __init__(self, k_numbers=1, similarity='euclidean', convergence_threshold = 0.01):
    self.Data = None
    self.k = k_numbers
    self.similarity = similarity
    self.centroids = None
    self.DataDistributed = None
    self.convergence_threshold = convergence_threshold

    # sub-process
    self.centroids_iteration = list()
    self.DataDistributed_iteration = list()
    self.centroids_moving_distance = list()
  

  # initate k numbers of centroids
  def generate_initial_centroids(self):
    # automatically generate initial centroids
    i = 0
    centroids = list()
    while(i < self.k):
      centroid = dict()
      for column in self.Data.columns:
        # randomly generate a value in the range of column
        centroid[column] = float("{:.4f}".format(uniform(self.Data[column].min(0), self.Data[column].max(0))))
      centroids.append(centroid)
      i += 1
    # after generating centroids
    self.centroids = pd.DataFrame(centroids)
    return self.centroids


  # assign points to a cluster located by a centroid
  def assign_points(self):
    # create a list to store the closest distance
    distance_list = list()
    cluster_index = list()
    # iteration of rows(each point) in dataset
    for index_point, point in self.Data.iterrows():
      closest_distance = -1
      distributed_centroid = -1
      # for each point, calculate the distance from it to a centroid
      for index_centroid, centroid in self.centroids.iterrows():
        # ------ select distance type ------#
        # select distance type
        if self.similarity == "euclidean":
          distance = self.euclidean_distance(point, centroid)
        elif self.similarity == "manhattan":
          distance = self.manhattan_distance(point, centroid)
        elif self.similarity == "minkowski":
          distance = self.minkowski_distance(point, centroid)
        elif self.similarity == "cosine":
          distance = self.cosine_distance(point, centroid)
        else:
          # throw out a warning
          distance = -1
        # ------ -------------------- ------#
        # judge if new distance is closer than existing one
        if closest_distance == -1 or distance < closest_distance:
          # if it's true then update distance
          closest_distance = distance
          distributed_centroid = index_centroid
      # append distance to storeage list
      distance_list.append(closest_distance)
      cluster_index.append(distributed_centroid)
    # Add the cloest distance as a column to Dataframe
    # Using copy() to avoid build a pointer between Data and DataDistributed
    self.DataDistributed = self.Data.copy()
    self.DataDistributed['Distance'] = distance_list
    self.DataDistributed['Cluster_index'] = cluster_index
    return self.DataDistributed


  # generate empty centroid data structure
  def generate_empty_centroids(self):
    # automatically generate initial centroids
    i = 0
    centroids = list()
    while(i < self.k):
      centroid = dict()
      for column in self.Data.columns:
        # randomly generate a value in the range of column
        centroid[column] = float(0.0)
      centroids.append(centroid)
      i += 1
    return pd.DataFrame(centroids)
  

  # recalculate the centroid
  def recalculate_centroid(self):
    # recalculate centroids groupby previous clusters
    # avoid Cluster_index become a new index
    new_centroids = self.DataDistributed.groupby(['Cluster_index'], as_index=False).mean().round(4)
    # drop middle-process columns
    self.centroids = new_centroids.drop('Cluster_index', 1).drop('Distance', 1)
    return self.centroids
  

  # main process of the whole training
  def fit(self, Data):
    # save data to model
    self.Data = Data

    # randomly generate k centroids
    self.generate_initial_centroids()
    self.centroids_iteration.append(self.centroids.copy())
    
    convergence = False
    # iterate until meet convergence condition
    while convergence == False:
      # assign points to these centroids
      self.assign_points()
      self.DataDistributed_iteration.append(self.DataDistributed.copy())
      # take the previous centroids
      previous_centroids = self.centroids.copy()
      # recalculate the centroids
      self.recalculate_centroid()
      new_centroids = self.centroids.copy()
      self.centroids_iteration.append(self.centroids.copy())

      # judge if meeting convergence condition
      centroids_movements = dict()
      for index, centroid in self.centroids.iterrows():
        convergence = True
        # ------ select distance type ------#
        if self.similarity == "euclidean":
          centroid_movement = self.euclidean_distance(previous_centroids.iloc[index], new_centroids.iloc[index])
        elif self.similarity == "manhattan":
          centroid_movement = self.manhattan_distance(previous_centroids.iloc[index], new_centroids.iloc[index])
        elif self.similarity == "minkowski":
          centroid_movement = self.minkowski_distance(previous_centroids.iloc[index], new_centroids.iloc[index])
        elif self.similarity == "cosine":
          centroid_movement = self.cosine_distance(previous_centroids.iloc[index], new_centroids.iloc[index])
        # ------ -------------------- ------#
        centroids_movements[index] = centroid_movement
        if centroid_movement >= self.convergence_threshold:
          convergence = False
      # record movement
      self.centroids_moving_distance.append(centroids_movements)
    

  # euclidean distance
  def euclidean_distance(self, pointA, pointB):
    sum_of_square = 0.0
    for column in self.Data.columns:
      sum_of_square += (pointA[column] - pointB[column])**2
    euclidean_distance = math.sqrt(sum_of_square)
    return float("{:.4f}".format(euclidean_distance))


  # manhattan distance
  def manhattan_distance(self, pointA, pointB):
    sum_of_abs = 0.0
    for column in self.Data.columns:
      sum_of_abs += abs(pointA[column] - pointB[column])
    manhattan_distance = sum_of_abs
    return float("{:.4f}".format(manhattan_distance))


  # Minkowski distance
  def minkowski_distance(self, pointA, pointB):
    # get degree of features
    degree = len(self.Data.columns)
    sum_of_poly_item = 0.0
    for column in self.Data.columns:
      sum_of_poly_item += pow(float("{:.4f}".format(pointA[column] - pointB[column])), degree)
    minkowski_distance = pow(sum_of_poly_item, 1/degree)
    return float("{:.4f}".format(minkowski_distance))
  

  # Cosine distance
  def cosine_distance(self, pointA, pointB):
    sum_of_dot_product = 0.0
    sum_of_square_pointA = 0.0
    sum_of_square_pointB = 0.0
    for column in self.Data.columns:
      sum_of_dot_product += pointA[column] * pointB[column]
      sum_of_square_pointA += pow(pointA[column], 2)
      sum_of_square_pointB += pow(pointB[column], 2)
    norm_of_pointA = math.sqrt(sum_of_square_pointA)
    norm_of_pointB = math.sqrt(sum_of_square_pointB)
    cosine_distance = sum_of_dot_product / (norm_of_pointA * norm_of_pointB)
    return float("{:.4f}".format(cosine_distance))

In [75]:
kmeans = KMeansClustering(k_numbers=5, similarity='euclidean', convergence_threshold=0.01)
kmeans.fit(TA_data)
kmeans.centroids

   Category 1  Category 2  Category 3  ...  Category 8  Category 9  Category 10
0      0.8890      1.2324      0.3574  ...      2.8507      1.5530       3.0136
1      0.9851      1.1467      1.2485  ...      2.8366      1.4226       2.8415
2      0.8318      1.4664      0.4061  ...      2.8673      1.7346       2.8480
3      0.8752      1.4747      1.9693  ...      2.8020      1.5635       2.5501
4      1.0289      2.0044      0.5767  ...      2.7233      1.4600       2.4878

[5 rows x 10 columns]

In [76]:
for distance in kmeans.centroids_moving_distance:
  print(distance)

{0: 2.6472, 1: 2.337, 2: 2.4686, 3: 2.4051, 4: 2.2058}
{0: 0.6672, 1: 0.1727, 2: 0.2539, 3: 0.5431, 4: 0.4784}
{0: 0.1929, 1: 0.072, 2: 0.1803, 3: 0.3244, 4: 1.0073}
{0: 0.047, 1: 0.0643, 2: 0.1127, 3: 0.108, 4: 0.6287}
{0: 0.0373, 1: 0.0379, 2: 0.0722, 3: 0.0338, 4: 0.3024}
{0: 0.0292, 1: 0.0327, 2: 0.038, 3: 0.0151, 4: 0.0}

In [67]:
kmeans.k

5

In [57]:
kmeans.centroids_iteration[1]

   Category 1  Category 2  Category 3  ...  Category 8  Category 9  Category 10
0       1.134      1.1808      0.6815  ...      2.8587      1.4173       2.6387
1       0.760      1.3707      2.6727  ...      2.8197      1.3900       2.4907
2       0.844      1.3907      1.0240  ...      2.8303      1.6107       2.8474

[3 rows x 10 columns]