<a href="https://colab.research.google.com/github/XinyaoTian/COMP5318_assignment2/blob/master/KmeansClustring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Environment setup
# Import assignment-wide packages
import sklearn
import numpy as np
import os
import pandas as pd
np.random.seed(42)

from random import uniform

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

In [2]:
# Load TripAdviosr dataset from its original source
TA_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00484/tripadvisor_review.csv", sep=',', encoding="utf-8")

# It's obviously that 'User ID' is not meaningful when clustering
# So we delete that column
TA_data = TA_data.drop('User ID', 1)

# Have a brief view
TA_data.head()

   Category 1  Category 2  Category 3  ...  Category 8  Category 9  Category 10
0        0.93         1.8        2.29  ...        2.79        1.82         2.42
1        1.02         2.2        2.66  ...        2.63        1.86         2.32
2        1.22         0.8        0.54  ...        2.80        1.31         2.50
3        0.45         1.8        0.29  ...        2.96        1.57         2.86
4        0.51         1.2        1.18  ...        2.78        1.18         2.54

[5 rows x 10 columns]

In [38]:
class KMeansClustering():

  def __init__(self, Data, k_numbers=1, similarity='euclidean'):
    self.Data = Data
    self.k = k_numbers
    self.similarity = similarity
    self.centroids = None
    self.DataDistributed = None
  

  # initate k numbers of centroids
  def generate_initial_centroids(self):
    # automatically generate initial centroids
    i = 0
    centroids = list()
    while(i < self.k):
      centroid = dict()
      for column in self.Data.columns:
        # randomly generate a value in the range of column
        centroid[column] = float("{:.4f}".format(uniform(self.Data[column].min(0), self.Data[column].max(0))))
      centroids.append(centroid)
      i += 1
    # after generating centroids
    self.centroids = centroids
    return pd.DataFrame(centroids)


    # assign points to a cluster located by a centroid
    def assign_points(self):
      # iteration of rows in dataset
      for index, row in self.Data.iterrows():
        #
  
    

  


kmeans = KMeansClustering(TA_data, k_numbers=3)
kmeans.generate_initial_centroids()

   Category 1  Category 2  Category 3  ...  Category 8  Category 9  Category 10
0      2.8108      3.0802      3.2878  ...      2.9239      1.5713       2.3661
1      2.3905      0.3712      2.4838  ...      2.6349      2.4812       2.9208
2      1.6635      2.8763      3.3073  ...      3.3605      2.3931       3.1017

[3 rows x 10 columns]

In [21]:
class KMeansClustering():

  def __init__(self, Data, k_numbers=1, similarity='euclidean'):
    self.Data = Data
    self.k_numbers = k_numbers
    self.similarity = similarity
  
  def generate_initial_centroids(self):
    print(self.Data['Category 1'].max(0))
    

  


kmeans = KMeansClustering(TA_data)
kmeans.generate_initial_centroids()

3.22