<a href="https://colab.research.google.com/github/XinyaoTian/COMP5318_assignment2/blob/master/KmeansClustring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Environment setup
# Import assignment-wide packages
import sklearn
import numpy as np
import os
import pandas as pd
np.random.seed(42)

from random import uniform
import math

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

In [49]:
# Load TripAdviosr dataset from its original source
TA_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00484/tripadvisor_review.csv", sep=',', encoding="utf-8")

# It's obviously that 'User ID' is not meaningful when clustering
# So we delete that column
TA_data = TA_data.drop('User ID', 1)

# Have a brief view
TA_data.head()

   Category 1  Category 2  Category 3  ...  Category 8  Category 9  Category 10
0        0.93         1.8        2.29  ...        2.79        1.82         2.42
1        1.02         2.2        2.66  ...        2.63        1.86         2.32
2        1.22         0.8        0.54  ...        2.80        1.31         2.50
3        0.45         1.8        0.29  ...        2.96        1.57         2.86
4        0.51         1.2        1.18  ...        2.78        1.18         2.54

[5 rows x 10 columns]

In [54]:
class KMeansClustering():

  def __init__(self, Data, k_numbers=1, similarity='euclidean'):
    self.Data = Data
    self.k = k_numbers
    self.similarity = similarity
    self.centroids = None
    self.DataDistributed = None
  

  # initate k numbers of centroids
  def generate_initial_centroids(self):
    # automatically generate initial centroids
    i = 0
    centroids = list()
    while(i < self.k):
      centroid = dict()
      for column in self.Data.columns:
        # randomly generate a value in the range of column
        centroid[column] = float("{:.4f}".format(uniform(self.Data[column].min(0), self.Data[column].max(0))))
      centroids.append(centroid)
      i += 1
    # after generating centroids
    self.centroids = pd.DataFrame(centroids)
    return pd.DataFrame(centroids)


  # assign points to a cluster located by a centroid
  def assign_points(self):
    # create a list to store the closest distance
    distance_list = list()
    cluster_index = list()
    # iteration of rows(each point) in dataset
    for index_point, point in self.Data.iterrows():
      closest_distance = -1
      distributed_centroid = -1
      # for each point, calculate the distance from it to a centroid
      for index_centroid, centroid in self.centroids.iterrows():
        distance = self.euclidean_distance(point, centroid)
        # judge if new distance is closer than existing one
        if closest_distance == -1 or distance < closest_distance:
          closest_distance = distance
          distributed_centroid = index_centroid
      # append distance to storeage list
      distance_list.append(closest_distance)
      cluster_index.append(distributed_centroid)
    # Add the cloest distance as a column to Dataframe
    self.DataDistributed = self.Data
    self.DataDistributed['Distance'] = distance_list
    self.DataDistributed['Cluster_index'] = cluster_index
    return self.DataDistributed


  # euclidean distance
  def euclidean_distance(self, pointA, pointB):
    sum_of_square = 0.0
    for column in self.Data.columns:
      sum_of_square += (pointA[column] - pointB[column])**2
    euclidean_distance = math.sqrt(sum_of_square)
    return float("{:.4f}".format(euclidean_distance))


  # manhattan distance
  def manhattan_distance(self, pointA, pointB):
    sum_of_abs = 0.0
    for column in self.Data.columns:
      sum_of_abs += abs(pointA[column] - pointB[column])
    manhattan_distance = sum_of_abs
    return float("{:.4f}".format(manhattan_distance))


  # Minkowski distance
  def minkowski_distance(self, pointA, pointB):
    # get degree of features
    degree = len(self.Data.columns)
    sum_of_poly_item = 0.0
    for column in self.Data.columns:
      sum_of_poly_item += pow(float("{:.4f}".format(pointA[column] - pointB[column])), degree)
    minkowski_distance = pow(sum_of_poly_item, 1/degree)
    return float("{:.4f}".format(minkowski_distance))
  

  # Cosine distance
  def cosine_distance(self, pointA, pointB):
    sum_of_dot_product = 0.0
    sum_of_square_pointA = 0.0
    sum_of_square_pointB = 0.0
    for column in self.Data.columns:
      sum_of_dot_product += pointA[column] * pointB[column]
      sum_of_square_pointA += pow(pointA[column], 2)
      sum_of_square_pointB += pow(pointB[column], 2)
    norm_of_pointA = sqrt(sum_of_square_pointA)
    norm_of_pointB = sqrt(sum_of_square_pointB)
    cosine_distance = sum_of_dot_product / (norm_of_pointA * norm_of_pointB)
    return float("{:.4f}".format(cosine_distance))


  
    

  


kmeans = KMeansClustering(TA_data, k_numbers=3)
kmeans.generate_initial_centroids()
kmeans.assign_points()

     Category 1  Category 2  Category 3  ...  Category 10  Distance  Cluster_index
0          0.93        1.80        2.29  ...         2.42    2.6443              2
1          1.02        2.20        2.66  ...         2.32    2.4620              2
2          1.22        0.80        0.54  ...         2.50    3.5635              0
3          0.45        1.80        0.29  ...         2.86    3.3367              0
4          0.51        1.20        1.18  ...         2.54    3.6678              0
..          ...         ...         ...  ...          ...       ...            ...
975        0.74        1.12        0.30  ...         3.20    3.7633              0
976        1.25        0.92        1.12  ...         2.80    3.4413              0
977        0.61        1.32        0.67  ...         3.02    3.6497              0
978        0.93        0.20        0.13  ...         2.46    4.5482              0
979        0.93        0.56        1.13  ...         2.40    3.6604              1

[980 rows x 12 columns]

In [21]:
class KMeansClustering():

  def __init__(self, Data, k_numbers=1, similarity='euclidean'):
    self.Data = Data
    self.k_numbers = k_numbers
    self.similarity = similarity
  
  def generate_initial_centroids(self):
    print(self.Data['Category 1'].max(0))
    

  


kmeans = KMeansClustering(TA_data)
kmeans.generate_initial_centroids()

3.22